.navbar {
    display: flex;
    /*justify-content: flex-end; /* Aligns the ul to the right */
    background-color: lightgreen; /* Optional: Background color for the navbar */
    padding: 10px 20px;        /* Optional: Padding around the navbar */
}

.title {
    display: flex;
    justify-content: flex-start;
    border: 1px solid;
}

.options {
    list-style-type: none;   /* Remove default list bullet points */
    display: flex;           /* Use flexbox to align the list items horizontally */
    justify-content: flex-end; 
    margin: 0;               /* Remove default margin */
    padding: 0;              /* Remove default padding */
    border: 1px solid;
}

.options li {
    margin-left: 20px;       /* Adds space between the list items */
    font-weight: bold;       /* Optional: Make the text bold */
    cursor: pointer;         /* Optional: Change cursor to pointer on hover */
}