label, select, form {
  margin-top: 10px;
  text-align: center;
}

input {
  margin-top: 10px;
}

.taskHeaderContainer {
  border: 1pt solid black;
  padding: 8px;
}

.taskHeaderList {
  display: flex;
  justify-content: space-around; /* Evenly space the items */
  width: 100%;                   /* Ensure it takes up the full width of the container */
  list-style-type: none;         /* Remove bullet points */
  padding: 0;                    /* Remove default padding */
  margin: 0; 
}

.taskHeaderList li {
  flex: 1; /* Ensure each list item takes up equal space */
  text-align: center; /* Center align text within each list item */
}

/*.taskListContainer {
  padding: 8px;
}*/


.taskContainer {
  display: flex;
  justify-content: space-around; /* Evenly space the items */
  width: 100%;                   /* Ensure it takes up the full width of the container */
  list-style-type: none;         /* Remove bullet points */
  padding: 8px;                    /* Remove default padding */ 
  margin: 0;                     /* Remove default margin */
  border: 1pt solid black;
  align-items: center;
  text-align: center;
}

.taskList {
  border: 1pt solid black;
  padding: 8px;
  display: flex;
  justify-content: space-around; /* Evenly space the items */
  width: 100%;                   /* Ensure it takes up the full width of the container */
  list-style-type: none;         /* Remove bullet points */
  padding: 0;                    /* Remove default padding */
  margin: 0;
}

.taskList li {
  flex: 1; /* Ensure each list item takes up equal space */
  text-align: center; /* Center align text within each list item */
}

.taskList, .taskHeaderList, .completedTaskList {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.taskList td, .taskList th, .completedTaskList td, .completedTaskList th {
  border: 1pt solid black;
  padding: 8px;
  align-items: center;
  text-align: center;
}

.taskList tr:nth-child(even), .completedTaskList tr:nth-child(even) {background-color: #f2f2f2;}

.taskList tr:hover, .completedTaskList tr:hover {background-color: #ddd;}

.taskList th, .completedTaskList th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #04AA6D;
  color: white;
  font-size: 2em;
}

h1 {
  color: #6A7152;
  font-size: 5em;
  /*background-color: #69FFF1;*/
  text-align: center;
}

.task {
  border: 1pt solid black;
}

td {
  font-size: 1.5em;
}


.taskButton {
  display: block;
  margin: auto;
  font-size: 1.5em
}

.completeButton {
  width: 50px; /* Adjust the size as needed */
  height: 50px; /* Adjust the size as needed */
  background-color: transparent;
  border: 2px solid #4CAF50; /* Border color */
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.completeButton.checked {
  background-color: #63D471; /* Change the color when checked */
  color: white;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #63D471;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: auto;
}
button:hover {
  border-color: #69FFF1;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.taskButton, .modalButton {
  margin-top: 10px;
}

.actionButton {
  margin-right: 10px;
}
